body {
    font-family: 'Fira Sans', sans-serif;
    color: white;
    background-color: #24214a;
    background-image: url(bg.svg);
    background-size: 100%;
}

.section {
    padding: 4rem 0 7rem;
    text-align: center;
}

.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.button {
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}

.accent-button {
    background-color: #5952b2;
    border-color: #5952b2;
    color: white;
}

.sized-button {
    font-size: 18px;
}

.fix-width {
    min-width: 360px;
}

.white-button {
    background-color: white;
    border-color: white;
    color: #5952b2;
}

.accent-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="white-button"]:hover,
.white-button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="white-button"]:focus {
    color: #e2e2e2;
    border-color: #5952b2;
    outline: 0;
}

.white-button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="white-button"]:hover,
.white-button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="white-button"]:focus {
    color: #24214a;
    border-color: white;
    outline: 0;
}

.hero-img {
    width: 80%;
    margin-bottom: 28px;
}

.header-img {
    height: 30px;
    margin-top: -2px;
    margin-bottom: -8px;
}

.section-description {
    margin-bottom: 28px;
}

.navbar {
    background-color: #5952b2;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding:  16px 0 16px;
}

.dashboard-section {
    margin-top: -180px
}

/* File Upload */

#upload-subsection {
    width: 60%;
    margin: auto;
}

#file-image {
    max-width: 60%;
    margin: 8px;
}

.uploader {
    display: block;
    clear: both;
    margin: 0 auto;
    max-width: 80%;
  }
  .uploader label {
    font-weight: 400;
    float: left;
    clear: both;
    width: 100%;
    padding: 16px 0 8px;
    text-align: center;
    border-radius: 2px;
    border: 2px solid #eee;
    transition: all .2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .uploader label:hover {
    border-color: #454cad;
  }
  .uploader label.hover {
    border: 3px solid #454cad;
    box-shadow: inset 0 0 0 6px #eee;
  }
  .uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3;
  }
  .uploader #start {
    float: left;
    clear: both;
    width: 100%;
  }
  .hidden {
    display: none;
  }
  .uploader #start i.fa {
    font-size: 50px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
  }
  .uploader #response {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #response #messages {
    margin-bottom: .5rem;
  }
  .uploader #notimage {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader progress,
  .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    height: 8px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  .uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #393f90 0%, #454cad 50%);
    border-radius: 4px;
  }
  .uploader input[type="file"] {
    display: none;
  }
  .uploader div {
    margin: 0 0 .5rem 0;
  }
  